.movie{
    width: 250px;
    height: 470px;
    margin: 1rem;
    background-color: rgba(12, 7, 116, 0.809);
    box-shadow: 2px 2px 5px black;
    position: relative;
    cursor: pointer;

        & img{
            max-width: 100%;
        }

        & .movie_info{
            width: 100%;
            max-height: 100%;
            color: white;
            font-size: 1.2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 5px;

            .vote_avarege{
                position: absolute;
                top: 10px;
                left: 10px;
                width: 40px;
                height: 40px;
                background-color: rgb(230, 226, 226);
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;
                font-weight: 800;
                border-radius: 50%;
            }
        }
}